.clearfix{
    clear: both;
    zoom: 1;
}
body{
    font-family: "Microsoft YaHei","微软雅黑","华文细黑", "黑体", sans-serif;
    font-size: 12px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#masthead{
    border-bottom: 1px solid #e9e9e9;
    box-shadow: 0 3px 4px #e9e9e9;
    -moz-box-shadow: 0 3px 4px #e9e9e9;
    -webkit-box-shadow: 0 3px 4px #e9e9e9;
    position: relative;
    z-index: 2;
}
#header, #container{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#header, #header a{
    color: #b9b9b9;
}
#ngo20-logo{
    float: left;
    text-indent: -9999px;
    width: 165px;
    height: 62px;
    margin: 11px;
    padding: 0;
    background-image: url(../Img/ngo20logo.jpg);
}
#header-control{
    position: absolute;
    right: 0px;
}
#header-control div{
    float: left;
}
.search-box{
    position: relative;
    margin-top: 8px;
    margin-right: 13px;
}
.search-box input{
    width: 147px;
    height: 17px;
    padding-left: 7px;
    color: #b5b5b5;
    border: 1px solid #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: inset 3px 3px 4px #ececec;
    -moz-box-shadow: inset 3px 3px 4px #ececec;
    -webkit-box-shadow: inset 3px 3px 4px #ececec;
}
.search-box a{
    display: block;
    text-indent: -9999px;
    height: 11px;
    width: 11px;
    position: absolute;
    right: 5px;
    top: 5px;
    background: url(../Img/icons/search-icon.gif);
}
#language-switch{
    margin-top: 10px;
    margin-right: 11px;
}
#login-tab{
    padding: 10px 13px;
    background-color: #81b460;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#login-tab, #login-tab a{
    color: #fff;
    letter-spacing: 2px;
}

#main-menu{
    position: absolute;
    top: 52px;
    right: 0px;
    margin: 0;
}
#main-menu li{
    width: 113px;
    text-align: center;
    float: left;
    list-style: none;
    font-size: 15px;
    margin: 0;
    margin-left: -1px;
    
    height: 33px;
}
#main-menu li a{
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    display: block;
}

#main-menu li.current a{
    color: #85b552;
}

#footer, #footer a{
    font-size: 11px;
    color: #949494;
    line-height: 18px;
    font-family: 宋体, serif;
}
#footer{
    clear: both;
    margin-top: 10px;
}
#footer div{
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
}

/* login-box */

#login-box {
    background: white;
    box-shadow: 12px 12px 27px #888;
    width: 725px;
    height: 244px;
    position: relative;
}

#login-box-left, #login-box-right {
    position: relative;
    height: 232px;
}

#login-box-left {
    float: left;
    width: 356px;
    padding: 12px 0 0 22px;
}

#login-box-right {
    padding: 12px 0 0;
    margin-left: 378px;
}

#login-box h4 {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

#login-box p {
    margin: 0;
}

#login-box p.sub-title {
    margin-bottom: 17px;
}

#login-box-left label {
    display: block;
    padding-left: 2px;
}

#login-email, #login-password {
    width: 242px;
    height: 14px;
    background-color: #e9e9e9;
    margin-bottom: 11px;
}

#forget-password-link {
    display: block;
    color: #84b551;
    text-decoration: underline;
    margin-bottom: 8px;
}

div.action-region {
    position: absolute;
    bottom: 11px;
}

#login-box-right strong {
    font-size: 14px;
    line-height: 21px;
    color: #85b552;
}

.action-region input, .action-region a{
    float: left;
    display: block;
    padding: 0;
    width: 55px;
    height: 24px;
    border: 0;
    background-color: #81b460;
    color: white;
    text-align: center;
    line-height: 24px;
}

.action-region input{
    line-height: 25px;
}

#login-with-qq, #login-with-weibo{
    border: 1px solid #81b460;
    margin-left: 7px;
    width: 61px;
    height: 22px;
    padding-left: 24px;
    line-height: 22px;
    background-image: url(../Img/weibo-qq-login-button.gif);
    background-repeat: no-repeat;
}

#login-with-weibo{
    width: 66px;
    background-position: -93px;
}

#login-close-button{
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1000;
}

/* top-right menu for logged user */

#header-control .dropdown {
    position: absolute;
    right: 0;
    top: 37px;
    background: white;
    border: 1px solid #c7c7c7;
    width: 98px;
    z-index: 1000;
}

#header-control .dropdown a {
    display: block;
    padding: 6px;
    color: #85b552;
    font-family: "宋体" sans-serif;
}

#header-control .dropdown a.spacing-line {
    border-bottom: 1px solid #c7c7c7;
}

#login-tab.after-login {
    padding: 10px 25px 10px 8px;
    background-image: url(../Img/icons/white-arrow-down.gif);
    background-repeat: no-repeat;
    background-position: 82px 17px;
}

