#map-filters li {

	width: 111px;
	background-position: 106px;
}

#map-filters li#work-field-dropdown {

	width: 145px;
	background-position: 139px;
}
#map-filters div.field-dropdown {
	width: 169px;
}
#map-filters div.field-dropdown span {
	padding: 8px 6px;
	float: none;
	width: 157px;
	text-align: left;
}