body a{
    color: #85b552;
}

#container{
    width: 830px;
}

#container h2 {
    font-size: 24px;
    color: #83b550;
    margin: 24px 0 12px;
}

#left-column {
    float: left;
    width: 265px;
}

div#event-intro{
    background-color: #f7f7f7;
}

div.event-fields {
    margin: 0;
    padding: 5px 15px;
    clear: both;
    line-height: 18px;
}

div.event-fields label {
    float: left;
    display: block;
    font-weight: bold;
}

div.event-fields p {
    margin: 0;
    margin-left: 60px;
    padding: 0;
    display: block;
}

a.more-fields {
    padding: 7px 0px 10px 170px;
    display: block;
    color: #82b460;
    font-family: 宋体, serif;
}

#action-link a {
    display: block;
    width: 128px;
    height: 34px;
    background-color: #82b460;
    float: left;
    font-size: 18px;
    color: white;
    line-height: 34px;
    text-align: center;
}

#action-link a.second-link{
    margin-left: 9px;
}

#right-column {
    margin-left: 275px;
}

h3#event-title {
    font-size: 18px;
    color: white;
    background-color: #82b460;
    padding: 5px 8px;
    display: inline;
}

div.event-description, div.org-description {
    font-family: 宋体, serif;
}

div.event-description h3 {
    font-size: 16px;
    font-weight: normal;
}

div.org-description {
    line-height: 22.4px;
    font-size: 12px;
}
a.more-activities{
    color: #3366cc;
    margin-left: 14px;
    font-family: SimSun, sans-serif;
}


/* user/home */
#prev-image, #next-image{
    background: url(../Img/big-arrow-lr.gif) no-repeat;
}
#prev-event, #next-event{
    background: url(../Img/small-arrow-lr.gif) no-repeat;
}
#event-list li.current{
    background: url(../Img/icons/menubar-current-icon.gif) no-repeat;
}

div#hero-image {
    position: relative;
}

div.hero-images {
    height: 323px;
    overflow: hidden;
}

#prev-image, #next-image {
    position: absolute;
    text-indent: -9999px;
    height: 323px;
    width: 40px;
    top: 0;
}

#next-image {
    background-position: -58px;
    right: 0;
}

#prev-image {
    background-position: 5px;
}

#prev-image, #next-image {
    height: 323px;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 40px;
}

div#hero-image {
    position: relative;
}

div.hero-images {
    height: 323px;
    width: 555px;
    overflow: hidden;
}
#hero-image-label{
    background: #85b552;
    color: white;
    font-weight: normal;
}
#hero-image-label span.title{
    display: block;
    padding: 7px 20px 5px;
    font-size: 14px;
}
#hero-image-label h3{
    margin: 0;
    padding: 0 20px 12px;
    font-size: 18px;
}

#event-list-wrapper {
    padding-left: 18px;
}

#event-browser {
    position: relative;
}

#event-list {
    padding: 0;
    margin: 0;
}

#event-list li {
    width: 160px;
    padding-left: 10px;
    float: left;
    display: block;
    padding-top: 14px;
}

div.event-wrapper {
    position: relative;
    border: 1px solid #f0f0f0;
    height: 73px;
    overflow: hidden;
}

#event-list li.current{
    padding-left: 9px;
    padding-top: 13px;
    background-position: 83px 7px;
}

#event-list li.current div.event-wrapper{
    border: 2px solid #85b552;
}

div.event-wrapper a {
    position: absolute;
    top: 6px;
    right: 6px;
    color: black;
    width: 72px;
    height: 58px;
    display: block;
}


#prev-event, #next-event {
    position: absolute;
    top: 14px;
    height: 75px;
    width: 25px;
    text-indent: -9999px;
    background-position: 5px;
}

#next-event {
    right: 0px;
    background-position: -41px;
}

div.event-thumb {
    width: 75px;
    height: 75px;
    overflow: hidden;
}

