
#map{
    margin-top: 8px;
}

#map-legend{
    position: relative;
    zoom: 1;
    margin-top: -58px;
    background-color: white;
    filter:alpha(opacity=95);  /*IE5、IE5.5、IE6、IE7*/
    opacity: 0.95;  /*Opera9.0+、Firefox1.5+、Safari、Chrome*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)"; /*IE8*/
}
#map-legend.all{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /*IE8*/
    filter:alpha(opacity=80);  /*IE5、IE5.5、IE6、IE7*/
    opacity: 0.8;  /*Opera9.0+、Firefox1.5+、Safari、Chrome*/
}
#map-legend ul{
    margin-left: 210px;
}
#map-legend ul li{
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 15px 0 15px 25px;
    font-size: 11px;
    width: 110px;
    cursor: pointer;
}
#legend-current-location{
    background: url(../Img/icons/current-position-legend.png) 0 no-repeat;
}
#legend-ngo{
    background: url(../Img/icons/green-circle.png) 8px no-repeat;
}
#legend-csr{
    background: url(../Img/icons/yellow-circle.png) 8px no-repeat;
}
#legend-case{
    background: url(../Img/icons/red-circle.png) 8px no-repeat;
}
#legend-ngo.inactive, #legend-csr.inactive, #legend-case.inactive{
    background: url(../Img/icons/grey-circle.png) 8px no-repeat;
    color: #9b9b9b;
}
#legend-current-location.inactive{
    color: #9b9b9b;
}

#showcase{
    clear: both;
    margin-top: 10px;
}
#showcase div.tile{
    width: 320px;
    height: 170px;
    margin-left: 10px;
    overflow: hidden;
    float: left;
    position: relative;
    font-family: 宋体, serif;
}
#showcase a{
    color: white;
}
#showcase h3{
    font-size: 14px;
}
#showcase div.showcase-img{
    height: 170px;
    width: 155px;
    background: white;
    overflow: hidden;
}
#showcase #showcase-ngo {
    background: #81b460;
    margin-left: 0;
}
#showcase-csr {
    background: #f8a150;
}
#showcase-weibo {
    background: #ea6b5c;
}
#showcase div.colored-region{
    float: right;
}
.tile-title{
    position: absolute;
    top: 12px;
    left: 165px;
    margin: 0;
    padding: 0;
    padding-right: 15px;
}
#showcase-weibo .tile-title{
    left: 9px;
}
#weibo-region{
    float: right;
    width: 237px;
    height: 166px;
    margin-top: 2px;
    margin-right: 2px;
    background: white;
    overflow: hidden;
}
.tile-more{
    position: absolute;
    left: 165px;
    bottom: 0px;

}
#register-stub{
    clear: both;
    margin-top: 10px;
    background: #f2f2f2;
    padding: 12px 24px;
}
#register-stub #register-button{
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #81b460;
    font-size: 24px;
    padding: 12px 24px;
    color: white;
    float: left;
}
#slogan-region{
    float: right;
}
#slogan-region p{
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    padding: 3px 20px 3px 0;
    font-family: 宋体, serif;
}
#slogan-region span.slogan{
    font-size: 18px;
    color: #85b552;
    font-family: "Microsoft YaHei","微软雅黑","华文细黑", "黑体", sans-serif;
    font-weight: bold;
}
#info-desk{
    background-color: #f2f2f2;
    margin-top: 10px;
    padding: 10px;
    font-size: 12px;
}
.info-desk-block{
    float: left;
    overflow: hidden;
    background: white;
    position: relative;
}
.info-desk-block h3{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.info-desk-block p{
    margin: 0;
    padding: 0;
}
#info-desk div.slider-control{
    position: absolute;
    right: 10px;
    bottom: 7px;
}
.slider-control a{
    margin-left: 9px;
    text-indent: -9999px;
    display: block;
    float: left;
    width: 9px;
    height: 12px;
}
.slider-control a.prev{
    background: url(../Img/icons/arrows.gif);
}
.slider-control a.next{
    background: url(../Img/icons/arrows.gif) 9px 0;
}
#recent-events{
    padding: 11px 8px;
    border: 3px solid #e0dfdf;
    height: 82px;
    width: 288px;
}
#recent-events .more{
    display: block;
    position: absolute;
    bottom: 18px;
    color: #ff6a45;
}
#recent-event-list{
    color: #ce4545;
    margin-top: 5px;
    line-height: 16px;
}
#media-and-help{
    padding: 11px;
    border: 1px solid #e0dfdf;
    width: 296px;
    height: 86px;
    margin-left: 10px;
}
#help-center{
    margin-top: 14px;
}
#hot-tags{
    padding: 11px;
    margin-left: 10px;
    border: 1px solid #e0dfdf;
    width: 286px;
    height: 86px;
}
#hot-tag-pages a{
    display: block;
    float: left;
    width: 70px;
    color: #85b552;
    line-height: 18px;
}

div.point-detail{
    padding: 7px;
}

div.point-detail h3 {
    margin: 0;
    padding: 0;
    width: 300px;
    overflow: hidden;
}

div.point-detail h3 a {
    color: #85b652;
}

div.detail-content {
    width: 334px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

div.detail-content span.label{
    color: #85b652;
}

.float-control {
    position: absolute;
    text-indent: -9999px;
    height: 97px;
    width: 88px;
    background-color: rgba(0,0,0,0.35);
    cursor: pointer;
}

.float-mask {
    height: 57px;
    width: 157px;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.next-event {
    left: 254px;
}

ul.event-images {
    width: 999999px;
    position: relative;
    left: -110px;
    margin: 0;
}

ul.event-images li {
    float: left;
    position: relative;
    height: 97px;
    width: 157px;
    overflow: hidden;
    margin-left: 1px;
    background-color: #81b460;
    list-style: none;
}

ul.event-images li p {
    font-family: 宋体, serif;
    color: white;
    display: none;
    position: absolute;
    padding: 5px;
    margin: 0;
    height: 30px;
    width: 157px;
    bottom: 0;
    line-height: 16px;
}

ul.event-images p.image{
    background-color: rgba(0,0,0,0.7);
}

ul.event-images li.current p{
    display: block;
}

ul.event-images li.current.image:hover div.float-mask{
    display: block;
}

div.float-control {
    position: absolute;
}

#showcase #showcase-csr:hover, #showcase #showcase-ngo:hover{
    background: none;
    border: 2px solid #f8a150;
    width: 316px;
    height: 166px;
}

#showcase #showcase-ngo:hover{
    border-color: #81b460;
}

#showcase-csr:hover a, #showcase-ngo:hover a{
    color: #000;
}