div.form-container {
    background: #ededed;
    padding: 12px;
}

#left-filters {
    float: left;
    width: 224px;
}

#search-result {
    margin-left: 235px;
}

.form-container .block {
    border: 1px solid #dedede;
    background-color: white;
    margin-bottom: 10px;
}

#long-search-box {
    padding: 10px;
}

div.long-search-box {
    margin: 0;
    padding: 0;
}

div.long-search-box input {
    width: 190px;
}

.long-search-box a {
    right: 7px;
}

.section {
    border-bottom: 1px solid #dedede;
    padding: 10px;
}

#left-filters li {
    list-style: none;
    padding: 0 0 0 8px;
    background: url(../Img/icons/search-bullets.gif) no-repeat 0 -20px;
}

#left-filters ul {
    margin: 0;
    padding: 0;
    line-height: 18px;
}

#left-filters li a {
    color: #505050;
}

#left-filters h3 {
    font-size: 12px;
    margin: 0;
    cursor: pointer;
}

#left-filters div.expanded h3 {
    color: #85b552;
    background: url(../Img/icons/search-bullets.gif) no-repeat 190px 2px;
    padding: 0 10px 10px 0;
}

div#result-count {
    padding: 10px 10px 0;
    font-size: 15px;
}

#primary-filter a {
    color: black;
    padding: 0 5px;
}

#primary-filter a.current {
    color: #85b552;
    text-decoration: underline;
}

#result-items {
    padding: 0;
    margin: 0;
}

#result-items li {
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    height: 75px;
}

#result-items h3, #result-items p {
    font-family: 宋体, sans-serif;
}

#result-items h3 a {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

#result-items h3 {
    padding: 8px 0;
    margin: 0;
}

#result-items p {
    margin: 0;
}

.type-label {
    color: #505050;
}

#result-items .image {
    float: right;
    width: 163px;
    height: 78px;
    overflow: hidden;
    margin-top: -1px;
}

.pager {
    padding: 10px;
    text-align: right;
}

.pager a, .pager span {
    border-left: 1px solid #dfdfdf;
}

.pager a{
    color: #85b552;
    padding: 0 0 0 3px
}

.pager span{
    padding: 0 3px 0 7px;
}

span.keyword{
    color: #85b552;
}